.chart__container{
    display: flex;
    justify-content: center;
    width: 85%;
    margin-top:auto;
}
@media(max-width:770px){
    .chart__container{
        width:120% ;
        justify-content: center;
    }
}