.card{
    margin-top:2% !important ;
}
.app__infected{
    border-bottom: 10px solid rgb(0,0,255,0.5);
    margin-right: 2% !important;
}
.app__prophecy{
    border-bottom: 10px solid rgb(11, 11, 226);
    /* background-image: url(./../../images/IMG2.jpg);
    object-fit: contain;
    background-size: contain;
    background-repeat: no-repeat; */
    margin-right: 2% !important;
}
.app__prophecy_image{
    background-repeat: no-repeat;
    background-size: contain;
    object-fit: contain;
    width:100% ;
    
}
.app__recovered{
    border-bottom: 10px solid rgb(0,255,0,0.5);
    margin-right: 2% !important;
}
.app__deaths{
    border-bottom: 10px solid rgb(255,0,0,0.5);
    margin-right: 2% !important;
}
@media(max-width:770px){
    .card{
        margin-bottom:3% !important ;
    }
    
    .app__prophecy_image{
        background-repeat: no-repeat;
        background-size: contain;
        object-fit: contain;
        width:100% ;
}
}